{% extends 'base.html.twig' %}


{% block body %}
<h1>Profil utilisateur</h1>

<p>Email : {{ email }}</p>
<p>Nom : {{ nom }}</p>
<p>Prenom : {{ prenom }}</p>

<a href="{{ path('app_home') }}">Acceuil</a>
{% endblock %}