<h1>Changer mon mot de passe</h1>

{{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword) }}

<button class="btn btn-primary">Modifier</button>
{{ form_end(form) }}