{% extends 'base.html.twig' %}

{% block title %}ChB Photo - A propos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/slider.css') }}" data-turbo-track="reload">{% endblock %}

{% block body %}
    <header class="apropos"></header>
    <div class="desc">
        <h2>Qui je suis ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium aliquet ligula non mollis. Proin
            pellentesque lorem non auctor dignissim. Aliquam non bibendum dui, sit amet mollis turpis. Aenean purus
            tellus, efficitur quis vestibulum vel, pulvinar vel lacus. Maecenas tortor ligula, imperdiet eget purus non,
            imperdiet eleifend lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium aliquet
            ligula non mollis. Proin
            pellentesque lorem non auctor dignissim. Aliquam non bibendum dui, sit amet mollis turpis. Aenean purus
            tellus, efficitur quis vestibulum vel, pulvinar vel lacus. Maecenas tortor ligula, imperdiet eget purus non,
            imperdiet eleifend lorem.</p>
    </div>
    <div class="postprod">
        <h2>L'art de la post-production</h2>
        <p>Parce que la capture d'une image n'est que la première étape, j'ai choisi de travailler exclusivement au format .RAW. Ce format, d'une immense richesse technique, est le négatif numérique de vos plus beaux moments : il contient toutes les informations nécessaires pour sublimer chaque détail.

            <span class="retourLigne"> - <span class="bold">Un développement sur mesure</span> : À l'image du développement argentique d'autrefois, je passe en revue chaque cliché pour en contrôler la qualité et y apporter ma signature. Ce travail minutieux me permet de sculpter la lumière et les couleurs pour donner à vos photos un style unique et cohérent.</span>

            <span class="retourLigne"> - <span class="bold">La clarté au service du sujet</span> : Grâce à un post-traitement expert, je rends vos images plus lisibles en orientant le regard vers l'essentiel. J'élimine les distractions visuelles pour que votre performance, votre produit ou votre émotion reste le seul centre d'attention.</span>

            <span class="retourLigne"> - <span class="bold">Un rendu naturel et maîtrisé</span> : La technologie moderne révèle parfois des détails que l'œil humain ne perçoit pas. Mon rôle est de modérer cette sensibilité pour offrir un rendu esthétique et harmonieux, fidèle à ce que vous avez ressenti.</span>

            <span class="retourLigne">La post-production est pour moi un gage de qualité. C'est dans cette étape finale que je mets tout mon soin pour garantir que le rendu de vos photographies corresponde parfaitement à vos attentes et à l'image que vous souhaitez projeter.</span></p>
        <div class="slider-container">
            <div class="slider">
                <div class="slider-before"></div>
                <div class="slider-separator"></div>
                <div class="slider-after"></div>
                <input class="slider-range" type="range" min="0" max="100" value="50"/>
            </div>
        </div>
    </div>
    <script src='{{ asset('js/slider.js') }}'></script>
{% endblock %}