{% extends 'base.html.twig' %}

{% block title %}ChB Photo - A propos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/slider.css') }}" data-turbo-track="reload">{% endblock %}

{% block body %}
    <header class="apropos"></header>
    <div class="desc">
        <h2>Qui je suis ?</h2>
        <p>J’ai reçu en cadeau mon premier appareil photo j’avais une dizaine d’année c’était un
            kodak Ektra 100. Et depuis ces années je n’ai jamais cessé de faire des photos. Il y a
            eu des périodes moins productives voir de sommeil photographique, mais toujours
            l’envie de faire des images resurgissait. Le vrai grand retour c’est fait dans les
            années 2000 avec le besoin de ma fille d’avoir des photographies pour illustrée ces
            exploits sportifs.
            <span class="retourLigne">J’ai investi dans un compact Sony, que j’utilise toujours. Dans le même temps j’ai
            commencé à me former, d’abord en regardant de façon boulimique tous les tutos que
            je pouvais trouver, puis en employant mon compte de formation pour suivre une
                formation complète de photographie.</span>
            <span class="retourLigne">Je travaille actuellement avec un boitier Fujifilm, il me suit quasiment partout.
            J’explore avec gourmandise tous les domaines de la photographie, je trouve ça
            extrêmement formateur. Je continue à me former et à développer mes domaines de
                compétence.</span>
            <span class="retourLigne">Ces en 2019 que l’idée de devenir photographe professionnel est né. J’aime
            passionnément faire de la photo alors pourquoi ne pas en faire mon métier et faire
                profiter les autres de mes compétences acquises.</span>
            <span class="retourLigne">Les trois domaines photographiques que je vous propose peuvent paraitre différent,
            mais ils présentent tous les trois un point commun très fort qui est la compréhension
                de la lumière et son utilisation pour réaliser des images dignes d’intérêt.</span></p>
    </div>
    <div class="postprod">
        <h2>L'art de la post-production</h2>
        <p>Parce que la capture d'une image n'est que la première étape, j'ai choisi de travailler exclusivement au
            format .RAW. Ce format, d'une immense richesse technique, est le négatif numérique de vos plus beaux moments
            : il contient toutes les informations nécessaires pour sublimer chaque détail.

            <span class="retourLigne"> - <span class="bold">Un développement sur mesure</span> : À l'image du développement argentique d'autrefois, je passe en revue chaque cliché pour en contrôler la qualité et y apporter ma signature. Ce travail minutieux me permet de sculpter la lumière et les couleurs pour donner à vos photos un style unique et cohérent.</span>

            <span class="retourLigne"> - <span class="bold">La clarté au service du sujet</span> : Grâce à un post-traitement expert, je rends vos images plus lisibles en orientant le regard vers l'essentiel. J'élimine les distractions visuelles pour que votre performance, votre produit ou votre émotion reste le seul centre d'attention.</span>

            <span class="retourLigne"> - <span class="bold">Un rendu naturel et maîtrisé</span> : La technologie moderne révèle parfois des détails que l'œil humain ne perçoit pas. Mon rôle est de modérer cette sensibilité pour offrir un rendu esthétique et harmonieux, fidèle à ce que vous avez ressenti.</span>

            <span class="retourLigne">La post-production est pour moi un gage de qualité. C'est dans cette étape finale que je mets tout mon soin pour garantir que le rendu de vos photographies corresponde parfaitement à vos attentes et à l'image que vous souhaitez projeter.</span>
        </p>
        <div class="slider-container">
            <div class="slider">
                <div class="slider-before"></div>
                <div class="slider-separator"></div>
                <div class="slider-after"></div>
                <input class="slider-range" type="range" min="0" max="100" value="50"/>
            </div>
        </div>
    </div>
    <script src='{{ asset('js/slider.js') }}'></script>
{% endblock %}