@media (max-width: 750px) {
    .desc {
        padding: 1rem;
    }

    .desc p, .desc h2 {
        color: var(--lg-text);
        width: 80%;
    }

    h2 {
        font-size: 2rem;
    }

    .desc p {
        font-size: 1rem;
    }

    @media (orientation: portrait) {
        .apropos, .sport, .event, .objet {
            justify-content: center;
            display: flex;
        }

        .carte {
            width: 200px;
            height: 200px;
        }

        .carte p {
            display: none;
        }

        .carte h1 {
            font-size: 1.7rem;
        }

        .logo {
            width: 10vw;
        }

        footer {
            height: 10vh;
        }

        footer a {
            font-size: 0.6rem;
        }
    }

    @media (orientation: landscape) {

    }
}