{% extends 'base.html.twig' %}

{% block title %}Chb Photo - Modifier tarif{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}