header {
    height: 90vh;
}

.galerie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 6% 0 6%;
    gap: 20px;
}

.galerie li {
    color: var(--lg-text);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galerie ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

.galerie img {
    width: 100%;
    height: auto;
}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    border-radius: 2rem;
}

.plus .glass-content {
    width: 100%;
    height: 100%;
}

.plus .glass-content a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--color-two);
    transition: color 0.3s;
}

.plus:hover .glass-overlay {
    background: var(--lg-hover-glow);
}
.plus:hover a {
    color: var(--color-three);
}

.edit {
    position: relative;
    bottom: 85%;
    left: 45%;
    font-size: 3rem;
    color: var(--color-three);
}

.edit:hover {
    color: var(--color-four);
}