:root {
    --lg-bg-color: rgba(255, 255, 255, 0.25);
    --lg-highlight: rgba(255, 255, 255, 0.75);
    --lg-text: #ffffff;
    --lg-hover-glow: rgba(255, 255, 255, 0.4);
    --lg-red: #fb4268;
    --lg-grey: #5b5b5b;
}

/* ========== GLASS CONTAINER ========== */
.glass-container {
    position: relative;
    font-weight: 600;
    color: var(--lg-text);
    background: transparent;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    /* transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2); */
}

/* ========== GLASS FILTER ========== */
.glass-filter {
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(0px);
    filter: url(#lg-dist);
    isolation: isolate;
}

/* ========== GLASS COLOR ========== */
.glass-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: var(--lg-bg-color);
}

/* ========== GLASS BORDER ========== */
.glass-specular {
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: inherit;
    overflow: hidden;
    box-shadow: inset 1px 1px 0 var(--lg-highlight),
    inset 0 0 5px var(--lg-highlight);
}

/* Garde l'interieur normal */
.glass-content {
    z-index: 3;
}