nav {
    position: fixed !important;
    height: 100vh;
    width: 5vw;
    border-radius: 0 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5%;
    transition: all 0.5s;
    z-index: 4;
}

nav img {
    position: absolute;
    top: 2%;
    transform: translateX(-50%);
    left: 50%;
}

nav svg {
    color: var(--color-two);
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    stroke: currentColor;
    opacity: 100;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav ul li:last-child,
nav ul li:nth-last-child(2) {
    position: relative;
    top: 5rem;
}

nav li {
    opacity: 0;
    transition: opacity 0.3s, visibility 0.5s;
    text-align: center;
}

nav a {
    color: var(--color-two);
    text-decoration: none;
    font-family: Poppins, serif;
    font-size: 2rem;
}


nav:hover {
    width: 12.5vw;
}

nav:hover li {
    opacity: 1;
}

nav a:hover {
    color: var(--color-three);
}

nav:hover svg {
    opacity: 0;
}