.admin-msg,
.user-msg {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    width: 50%;
    padding: 1rem;
    overflow: initial;
}

.user-msg .glass-overlay {
    background: rgba(0, 53, 189, 0.67);
}

.admin-msg .glass-overlay {
    background: rgba(0, 255, 26, 0.67);
}

.conversation {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

.admin-msg,
.admin-date {
    align-self: flex-end;
}

.user-msg,
.user-date {
    align-self: flex-start;
}

.user-date,
.admin-date {
    font-size: 0.8rem;
}

.user-date {
    position: relative;
    left: 3%;
}

.admin-date {
    position: relative;
    right: 3%;
}