.tarifs {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarifs-container {
    display: flex;
    border-radius: 2rem;
    padding: 2rem;
}

.tarifsline-container {
    display: flex;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.tarifs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarifs h2 {
    color: var(--color-two);
}

.plus {
    position: absolute;
    right: 3rem;
    top: 2.5rem;
    color: white;
}

.tarifs a {
    color: var(--color-three);
}

button {
    border: none;
    background: none;
    color: var(--color-three);
    cursor: pointer;
}

button:hover,
.tarifs a:hover {
    color: var(--color-four);
}

.tarifsline-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.config {
    display: flex;
}

h3, p {
    color: var(--color-two);
}

.description {
    width: 70%;
}