.tarifs {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarifs-container {
    display: flex;
    border-radius: 2rem;
    padding: 2rem;
}

.tarifsline-container {
    display: flex;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}
