{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="formulaire">
        {% if error %}
            <div class="alert alert-danger">
{#                {{ error.messageKey|trans(error.messageData, 'security') }}#}
                Email ou mot de passe incorrecte
            </div>
        {% endif %}
        <div class="form-container">
            <div class="glass-container carte">
                <div class="glass-filter"></div>
                <div class="glass-overlay"></div>
                <div class="glass-specular"></div>
                <div class="glass-content form-content">

                    <h1>Connexion</h1>

                    <form action="{{ path('app_login') }}" method="post">
                        <div>
                            <div>
                                <label for="email">Email:</label>
                                <input type="text" id="email" name="_username" value="{{ last_username }}" required
                                       autofocus
                                       placeholder="Email">
                            </div>
                            <div>
                                <label for="password">Mot de passe:</label>
                                <input type="password" id="password" name="_password" required
                                       placeholder="Mot de passe">
                            </div>
                        </div>

                        <button class="btn" type="submit">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}