<h2>{{ conversation.titre }}</h2>
<ul>
    {% for message in conversation.messages %}
        <li>{{ message.contenu }} — {{ message.idUser.prenom }}</li>
    {% else %}
        <li>Aucun message</li>
    {% endfor %}
</ul>
{{ include('conversation/_form.html.twig') }}