@media (max-width: 1200px) {

    nav ul {
        visibility: hidden;
    }

    nav:hover ul {
        visibility: visible;
    }

    @media (orientation: portrait) {
        nav {
            height: 7vh;
            width: 100vw;
            border-radius: 0 0 2rem 2rem;
        }

        nav:hover {
            height: 65dvh;
            width: 100dvw;
        }

        nav svg {
            color: var(--color-two);
            width: 24px;
            height: 24px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%) rotate(90deg);
            z-index: 4;
            stroke: currentColor;
        }

        nav img {
            position: fixed;
            top: 1%;
            left: 5%;
        }

        nav a {
            font-size: 1.8rem;
        }

        nav .glass-content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: start;
            padding: 1.5rem 0;
        }
    }

    @media (orientation: landscape) {
        nav a {
            font-size: 1.3rem;
        }

        nav:hover {
            width: 15vw;
        }
    }
}